body{
    background-color: #f3f3f3;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 50px;
}

h1{
    color: rgb(255, 145, 0);
}

li{
    text-decoration: none;
}