body{
    background-color: #f3f3f3;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 50px;
}

nav{
    background-color: rgb(0, 255, 170);
    padding: 10px;
}

nav a{
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
}

h1{
    color: rgb(0, 255, 200);
}

li{
    text-decoration: none;
    list-style: none;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 255, 170);
    color: white;
    text-align: center;
    padding: 10px;
}